#page {
  min-height: 100vh;
  height: 100%;
}

.navbar-fixed {
 position: absolute;
  top: 0;
}

nav {
  padding: 0 5%;

  li.active {
    background-color: rgba(0, 0, 0, .4);
  }

  &.black {
    background-color: rgba(0, 0, 0, .5)!important;
  }

  .brand-logo {
    display: flex;
    height: 100%;

    img {
      object-fit: contain;
    }
  }
}
