<div class="page-title">
  <h3>Категории</h3>
  <button class="waves-effect waves-light teal lighten-3 btn" routerLink="/categories/new">
    <i class="material-icons left">add</i>Добавить категорию
  </button>
</div>

<div
  class="row"
  *ngIf="categories$ | async as categories; else loader"
>
  <div
    class="col m12 l6"
    *ngFor="let category of categories"
  >
    <div class="card">
      <div class="card-image">
        <img src="{{category.imageSrc}}">
        <span class="card-title">{{category.name}}</span>
      </div>
      <div class="card-content">
        <p>{{category.description}}</p>
      </div>
      <div class="card-action">
        <a
          [routerLink]="['/categories', category._id]"
        ><i class="material-icons left">edit</i>Редактировать</a>
      </div>
    </div>
  </div>
  <div
    class="col s12"
    *ngIf="categories.length == 0"
  >
    Нет ни одной категории.
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
