<perfect-scrollbar style="max-width: 100%; max-height: 100vh;">
  <div class="container">

    <div class="page-title">
      <h2>О компании</h2>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col s12 m3">
          <img src="assets/images/logo.png" alt="about us" class="company-img">
        </div>
        <div class="col s12 m9">
          <h3>Web Agency SkyBuss</h3>
          <p>Компания SkyBuss это команда высококвалифицированных специалистов любящих свое дело!</p>
          <p>Нашей приоритетной целью является не зарабатывание денег(хотя это немаловажно) а получение удовольствия от
            того дела которым мы занимаемся. Все наши специалисты прошли тернистый путь офисов крупных агентств и фриланс.
            Везде “хорошо” но по настоящему выразить себя можно только в команде единомышленников. Мы не делаем ширпотреб,
            в каждый наш проект мы вкладываем вдохновение. Мы не дерем в три шкуры со своих клиентов, мы берем ровно столько
            сколько стоит эта работа- но от бонусов не откажемся. В нашем портфолио есть проекты крупных компаний и совсем
            маленьких организаций, нам все равно кто заказчик, нам важен результат.</p>
          <p>Компания SkyBuss на рынке более 5 лет, она преображалась трансформировалась и развивалась. И наш путь еще не
            закончен!</p>
          <p>Наши клиенты с нами уже по 4-5 лет и даже если уходят то попробовав прелести общения с фрилансерами и
            крупными агентствами возвращаются обратно.</p>
          <p>Мы желаем всем вдохновения в их работе, какой бы она не была!</p>
        </div>
      </div>

      <section class="technologies">
        <h4>Технологии которые мы используем</h4>

        <div class="section-content">

          <div class="content-item tooltipped" data-position="top" data-tooltip="WordPress">
            <img src="assets/images/wordpress.png" alt="WordPress">
          </div>

          <div class="content-item tooltipped" data-position="top" data-tooltip="Opencart">
            <img src="assets/images/opencart.png" alt="Opencart">
          </div>

          <div class="content-item tooltipped" data-position="top" data-tooltip="PHP">
            <img src="assets/images/php.png" alt="PHP">
          </div>

          <div class="content-item tooltipped" data-position="top" data-tooltip="MySQL">
            <img src="assets/images/mysql.png" alt="MySQL">
          </div>

          <div class="content-item tooltipped" data-position="top" data-tooltip="HTML 5">
            <img src="assets/images/HTML_Logo.png" alt="HTML">
          </div>

          <div class="content-item tooltipped" data-position="top" data-tooltip="CSS 3">
            <img src="assets/images/css.png" alt="CSS">
          </div>

          <div class="content-item tooltipped" data-position="top" data-tooltip="JavaScript">
            <img src="assets/images/js.svg" alt="JavaScript">
          </div>

          <div class="content-item tooltipped" data-position="top" data-tooltip="Angular 6">
            <img src="assets/images/angular-icon.svg" alt="Angular 6">
          </div>

          <div class="content-item tooltipped" data-position="top" data-tooltip="Node.js">
            <img src="assets/images/nodejs.png" alt="Node.js">
          </div>

          <div class="content-item tooltipped" data-position="top" data-tooltip="MongoDB">
            <img src="assets/images/mongo-db.png" alt="MongoDB">
          </div>

        </div>
      </section>
    </div>

  </div>
</perfect-scrollbar>
