<perfect-scrollbar style="max-width: 100%; max-height: 100vh;">
  <div class="container">

    <div class="page-title">
      <h2>О компании</h2>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col s12 m5">
          <img src="assets/images/logof.jpg" alt="about us" class="company-img">
        </div>
        <div class="col s12 m7">
          <h3>Web Agency SkyBuss</h3>
          <p>Компания SkyBuss это команда высококвалифицированных специалистов любящих свое дело!</p>
          <p>Нашей приоритетной целью является не зарабатывание денег(хотя это немаловажно) а получение удовольствия от
            того дела которым мы занимаемся. Все наши специалисты прошли тернистый путь офисов крупных агентств и фриланс.
            Везде “хорошо” но по настоящему выразить себя можно только в команде единомышленников. Мы не делаем ширпотреб,
            в каждый наш проект мы вкладываем вдохновение. Мы не дерем в три шкуры со своих клиентов, мы берем ровно столько
            сколько стоит эта работа- но от бонусов не откажемся. В нашем портфолио есть проекты крупных компаний и совсем
            маленьких организаций, нам все равно кто заказчик, нам важен результат.</p>
          <p>Компания SkyBuss на рынке более 5 лет, она преображалась трансформировалась и развивалась. И наш путь еще не
            закончен!</p>
          <p>Наши клиенты с нами уже по 4-5 лет и даже если уходят то попробовав прелести общения с фрилансерами и
            крупными агентствами возвращаются обратно.</p>
          <p>Мы желаем всем вдохновения в их работе, какой бы она не была!</p>
        </div>
      </div>
    </div>

  </div>
</perfect-scrollbar>
