.container {
  width: 1200px;
  max-width: 96%;
  z-index: 10;
}

.page-content {
  min-height: 200px;
}

.page-title {
  text-align: center;
  margin: 65px auto 40px;

  h2 {
    color: #fff;
  }
}

.tabs {
  background-color: rgba(0, 0, 0, .5);

  .tab a {
    color: #fff;

    &:hover {
      opacity: .7;
    }
  }
}

.card {
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}
.card-image img {
  object-fit: cover;
}
.card .card-image .card-title {
  width: 100%;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
}

.card-content {
  height: 100px;
  overflow: hidden;
}

.mobile-list {
  display: none;
  position: relative;

  button {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
  }

  ul {
    position: absolute;
    display: none;
    top: 100%;
    left: .75rem;
    width: calc(100% - 1.5rem);
    margin: 0;
    background-color: rgba(15, 8, 45, .8);
    z-index: 50;

    li {

      a {
        color: #fff;
        display: block;
        font-size: 14px;
        font-weight: 500;
        height: 36px;
        line-height: 36px;
        padding: 0 25px;
      }

      &.active {

        a {
          background-color: rgba(109, 224, 246, .8);
        }
      }
    }
  }
}

/* Responsive */
@media (max-width: 768px) {
  .desktop-list {
    display: none;
  }

  .mobile-list {
    display: block;
  }
}
