.container {
  width: 1200px;
  max-width: 96%;
  z-index: 10;
}

.page-title {
  text-align: center;
  margin: 65px auto 40px;

  h2 {
    color: #fff;
  }
}

.tabs {
  background-color: rgba(0, 0, 0, .5);

  .tab a {
    color: #fff;

    &:hover {
      opacity: .7;
    }
  }
}

.card {
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}
.card-image img {
  height: 280px;
  object-fit: cover;
}
.card .card-image .card-title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
}

.card-content {
  height: 100px;
  overflow: hidden;
}
