<div class="page-title">
  <h3>Проекты</h3>
  <button class="waves-effect waves-light teal lighten-3 btn" routerLink="/projects/new">
    <i class="material-icons left">add</i>Добавить проект
  </button>
</div>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col"><a [routerLink]="['/projects']">Все</a></li>
      <li class="tab col" *ngFor="let category of categories"><a [routerLink]="['/projects/category', category._id]">{{category.name}}</a></li>
    </ul>
  </div>
</div>

<div
  class="row"
  *ngIf="projects$ | async as projects; else loader"
>
  <div
    class="col m12 l6"
    *ngFor="let project of projects"
  >
    <div class="card">
      <div class="card-image">
        <img src="{{project.imageSrc}}">
        <span class="card-title">{{project.name}}</span>
      </div>
      <div class="card-content">
        <p>{{project.description}}</p>
      </div>
      <div class="card-action">
        <a
          [routerLink]="['/projects', project._id]"
        ><i class="material-icons left">edit</i>Редактировать</a>
      </div>
    </div>
  </div>
  <div
    class="col s12"
    *ngIf="projects.length == 0"
  >
    Нет ни одного проекта.
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
