<div id="page-content">

  <div id="fullpage-nav">
    <app-fullpage-nav
      [fullpageService]="fullpageService"
    ></app-fullpage-nav>
  </div>

  <button
    class="btn callback-btn"
    (click)="callbackFormOpen()"
  >
    <i class="material-icons">phone</i>
  </button>

  <div id="fullpage" #fullpage mnFullpage
       [mnFullpageNavigation]="true"
       [mnFullpageKeyboardScrolling]="true"
       [mnFullpageDragAndMove]="true"
       [mnFullpageAnchors]="fpAnchors"
  >

    <div id="seo-section" class="section fp-section fp-table">
      <div class="fp-tableCell center">

        <div
          id="seo-slider"
        >
          <owl-carousel
            [options]="seoSliderOptions"
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          >

            <div class="item">
              <div class="content-item">
                <img src="assets/images/seo-1.png" alt="seo">
                <h3>Делаем больше, чем SEO продвижение сайта</h3>
                <div class="item-text">
                  <p>Предлагаем полный комплекс услуг по SЕО продвижению сайта в поисковых системах
                    Google и Яндекс для Украинских компаний и частных лиц.</p>
                </div>
                <button
                  class="waves-effect waves-light btn"
                  (click)="formToggle()"
                >
                  <i class="material-icons left">feedback</i>
                  <span class="btn-text">Получить консультацию</span>
                </button>

                <div id="consultation-form" class="form-wrap" #consultationForm>
                  <button
                    class="btn close"
                    (click)="formClose()"
                  >
                    <i class="material-icons">close</i>
                  </button>
                  <app-consultation-form></app-consultation-form>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="content-item">
                <img src="assets/images/seo-2.png" alt="seo">
                <h3>Сколько стоит продвижение сайта?</h3>
                <div class="item-text">
                  <p>Стоимость продвижения в зависит от целей продвижения и конкурентности ниши
                    рынка. Просчёт можно осуществить только в индивидуальном порядке, с учётом
                    всех особенностей продвигаемого продукта. Мы не работаем с сайтами 18+ и с
                    сайтами, вводящими в заблуждение потребителя.</p>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="content-item">
                <img src="assets/images/seo-3.png" alt="seo">
                <h3>Сколько времени занимает продвижение сайта?</h3>
                <div class="item-text">
                  <p>Мы ценим свое время и время наших клиентов потому что понимаем,
                    чем эффективнее и быстрее наша работа, тем больше продажи у наших клиентов.
                    Каждый сайт индивидуален, а для его раскрутки может понадобится разное время.</p>
                </div>
                <button
                  class="waves-effect waves-light btn"
                  (click)="briefFormOpen()"
                >
                  <i class="material-icons left">assignment</i>
                  <span class="btn-text">Заполнить бриф</span>
                </button>
              </div>
            </div>

          </owl-carousel>
        </div>

      </div>
    </div>
    <div id="site-dev-section" class="section fp-section fp-table">
      <div class="fp-tableCell center">

        <div
          id="categories-slider"
        >
          <owl-carousel
            #categoriesSlider
            [options]="categoriesSliderOptions"
            [items]="categories"
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          >
            <div
              *ngFor="let category of categories"
              ngClass="item"
            >
              <img [src]="category.imageSrc" [alt]="category.name">
              <div class="item-content">
                <h4>{{category.name}}</h4>
                <div ngClass="info-item">
                  <p>{{category.description}}</p>
                </div>
                <div ngClass="info-item">
                  <strong>Время разработки</strong>
                  <span>от {{category.devTime}} дней</span>
                </div>
                <a
                  [routerLink]="['portfolio', category._id]"
                  ngClass="works-link"
                >Посмотреть работы</a>
              </div>
            </div>
          </owl-carousel>
        </div>

        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>

      </div>
    </div>
    <div id="ads-section" class="section fp-section fp-table">
      <div class="fp-tableCell center">

        <ul
          #adsCollapsible
          id="ads-collapsible"
          class="collapsible"
        >
          <li>
            <div class="collapsible-header"><i class="material-icons">add</i><img src="assets/images/Google_AdWords.png" alt="Google Adwords"></div>
            <div class="collapsible-body">
              <p>Быстрый старт бизнеса и быстрые продажи возможны только с помощью контекстной рекламы!</p>
              <p>Мы покупаем для вас места на первой странице выдачи по ключевым запросам, по которым ваши клиенты ищут
                вас в сети. Это гарантирует что по самым прибыльным для вас запросам ваш покупатель вас найдет.</p>
              <p>Каждый клик это деньги, мы делам так чтобы они не пропадали в пустую!</p>
              <p>Работы по контекстной рекламе:</p>
              <ul>
                <li>Автоматизация контекстной рекламы</li>
                <li>Аудит контекстной рекламы</li>
                <li>Отслеживание и поддержка компаний</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">add</i><img src="assets/images/google-shopping.png" alt="Google Shopping"></div>
            <div class="collapsible-body">
              <p><b>Google Shopping идеально подходит для тех у кого:</b></p>
              <ul>
                <li>в распоряжении большие товарные партии и кто тратит много сил и времени на настройку поисковой системы;</li>
                <li>завышена стоимость кликов в области ниши, что приводит к потере продаж;</li>
                <li>нет возможности или необходимых знаний в области актуализации цен в объявлениях в автоматическом
                  режиме (то есть своевременно показывать обновлённые цены потенциальному клиенту);</li>
                <li>низкий охват целевого поискового трафика по причине задействования всех стандартных вариантов рекламы.</li>
              </ul>
              <p>С настройкой данного функционала придётся повозиться, либо обратиться к нам и мы сделаем это за вас.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">add</i><img src="assets/images/YouTube.png" alt="YouTube"></div>
            <div class="collapsible-body">
              <p>Мы поможем разместить Ваше видео в чужих роликах на популярном видеохостинге Youtube.</p>
              <p>Сделаем качественный подбор по критериям - пол, возраст, город, интересы и т.д.</p>
              <p>Такая <b>эффективная реклама на youtube</b> обеспечит ознакомление широкой <b>целевой аудитории</b>
                пользователей с Вашими материалами, заставляя их не только просматривать, но и подписываться на
                раскручиваемый канал, делать покупки  товаров/услуг.</p>
              <p>Профессиональная <b>реклама канала на Youtube</b> с правильным подбором целевой аудитории позволит
                получить качественный инструмент <b>продаж</b>. Мы поможем сделать Ваш контент популярным. Продуманная
                <b>реклама видео на youtube</b> поможет в минимальные сроки добиться поставленных целей.</p>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <div id="smm-section" class="section fp-section fp-table">
      <div class="fp-tableCell center">

        <button
          class="waves-effect waves-light btn btn-brief"
          (click)="smmFormOpen()"
        >
          <i class="material-icons left">assignment</i>
          <span class="btn-text">Заполнить бриф</span>
        </button>

        <div id="smm-info">
          <h3>SMM</h3>
          <div class="section-content">
            <img src="assets/images/smm4.png" alt="smm">
            <div class="content-text">
              <p>Мы занимаемся продвижением брендов в социальных сетях уже 8 лет!</p>
              <p>В нашей в команде профессиональные журналисты, дизайнеры и таргетологи с опытом работы в SMM.</p>
              <p>Мы не делим рынок исключительно на В2В или В2С. Работаем H2H, где Н (human) стоит на первом месте.</p>
              <p><strong>SMM ПРОДВИЖЕНИЕ ОТ SKYBUSS</strong></p>
              <ul>
                <li>построение стратегии развития;</li>
                <li>еженедельный контент-план;</li>
                <li>тексты и изображения для постинга в едином стиле;</li>
                <li>построение стратегии рекламы;</li>
                <li>создание рекламных блоков;</li>
                <li>настройка таргетинга;</li>
                <li>продвижение серыми методами;</li>
                <li>продвижение белыми методами.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


<div class="mob-warning">
  <i class="material-icons left">screen_rotation</i>
  <h4>Для корректной работы сайта поверните экран и перезагрузите страницу!</h4>
</div>


<div id="brief-form" class="modal" #briefForm>
  <perfect-scrollbar style="max-width: 100%; max-height: 70vh;">
    <div class="modal-content">
      <app-brief-form></app-brief-form>
    </div>
  </perfect-scrollbar>
</div>


<div id="callback-form" class="modal" #callbackForm>
  <perfect-scrollbar style="max-width: 100%; max-height: 70vh;">
    <div class="modal-content">
      <app-callback-form></app-callback-form>
    </div>
  </perfect-scrollbar>
</div>


<div id="smm-form" class="modal" #smmForm>
  <div class="modal-content">
     <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf9xT2vhuVvHZwqdhNqra9NaThYbDYo4K2hPa_LDYhMEP9hYg/viewform?embedded=true" width="100%" height="875" style="max-height: calc(70vh - 60px);" frameborder="0" marginheight="0" marginwidth="0">Завантаження...</iframe>
  </div>
</div>
