#fullpage-nav {
  position: fixed;
  top: calc(50% - 200px);
  left: -200px;
  z-index: 50;
}

#fullpage {
  padding-left: 250px;
  height: calc(100% - 65px);
}

h3 {
  color: #fff;
}

#ads-collapsible {
  width: 96%;
  margin: auto;

  .collapsible-header {
    background-color: #fff;

    .material-icons {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: rgba(0, 0, 0, .3);
    }

    img {
      width: auto;
      max-width: 100%;
      height: 50px;
      margin: auto;
    }
  }

  .collapsible-body {
    background-color: rgba(0, 0, 0, .5);
    text-align: left;
    color: #fff;

    ul {
      padding-left: 20px;

      li {
        list-style: disc;
      }
    }
  }
}

#smm-info {
  width: 96%;
  margin: 20px auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);

  h3 {
    background-color: #fff;
    color: #222;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
  }

  .section-content {
    display: flex;
    justify-content: space-between;

    img {
      display: block;
      width: 50%;
      max-height: 450px;
      object-fit: cover;
      background-image: linear-gradient(
        to left top,
        rgba(242, 21, 179, .7) 0%,
        rgba(242, 21, 179, .7) 5%,
        rgba(39, 38, 90, .7) 30%,
        rgba(39, 38, 90, .7) 80%,
        rgba(21, 22, 58, .7) 90%,
        rgba(21, 22, 58, .7) 100%
      );
    }

    .content-text {
      padding: 1.5rem;
      background-color: rgba(0, 0, 0, .5);
      color: #fff;
      text-align: left;

      ul {
        padding-left: 20px;

        li {
          list-style: disc;
        }
      }
    }
  }
}

.callback-btn {
  display: block;
  position: absolute;
  top: calc(50% + 5px);
  left: 5px;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 1px 2px 5px -1px rgba(0, 0, 0, .8);
  z-index: 200;
  transition: all .3s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(21, 22, 58, 0.78);
    z-index: -1;
    transition: all .3s;
  }

  i {
    font-size: 1.5rem;
    line-height: 40px;
  }

  &:hover {
    box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, .8);

    &::before {
      background-color: rgba(21, 22, 58, 0.8);
    }
  }
}

#info {
  display: block;
  position: absolute;
  top: calc(50% + 5px);
  left: 5px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, .6);
  z-index: 200;

  i {
    font-size: 40px;
    //color: rgba(255, 255, 255, .8);
    background-color: #9f9f9f;
  }
}
.tap-target-origin i {
  font-size: 40px;
  background-color: rgba(0, 0, 0, .4);
}
.tap-target {
  background-color: rgba(0, 0, 0, .9) !important;
}


/* Responsive */
@media(max-width: 1200px) {
  #fullpage-nav {
    left: -250px;
  }

  #fullpage {
    padding-left: 200px;
    height: calc(100% - 65px);
  }

  #info {
    display: none;
  }

  .callback-btn {
    top: auto;
    left: 2vw;
    bottom: 5vh;
  }
}

@media (max-width: 1024px) {


  #fullpage-nav {
    display: none;
  }

  #fullpage {
    padding-left: 0;
  }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
  .mob-warning {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20%;
    background-color: rgb(15, 8, 45);
    color: #fff;
    text-align: center;
    z-index: 10000;
  }
}

@media(max-width: 992px) {
  #fullpage-nav {
    display: none;
  }

  #fullpage {
    padding-left: 0;
  }

  #smm-info {
    .section-content {
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
        min-width: 0;
        object-fit: cover;
      }

      .content-text {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 5;
      }
    }
  }



  #ads-collapsible {

    .collapsible-header {

      .material-icons {
        font-size: 1.5rem;
      }

      img {
        height: 40px;
      }
    }
  }
}

@media (max-width: 580px) {
  #ads-collapsible {

    .collapsible-header {
      padding: 0.5rem;

      img {
        height: 40px;
      }
    }

    .collapsible-body {
      padding: 1rem;
    }
  }

  #smm-info {
    h3 {
      padding: 0.5rem;
      font-size: 2rem;
    }

    .section-content {

      .content-text {
        padding: 1rem;
      }
    }
  }
}

@media (max-width: 450px) {
  #ads-collapsible {
    .collapsible-body {
      font-size: 12px;
    }
  }

  #smm-info {
    .section-content {
      .content-text {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 400px) {
  #ads-collapsible {

    .collapsible-header {

      .material-icons {
        font-size: 1.5rem;
      }

      img {
        height: 30px;
      }
    }

    .collapsible-body {
      padding: 0.5rem;
      font-size: 10px;
    }
  }

  #smm-info {
    .section-content {
      .content-text {
        padding: 0.5rem;
        font-size: 10px;
      }
    }
  }
}
